
#banner{
	//display:block;
	margin-top:65px;
	position:relative;
	height:500px;
	//background:lighten($blue, 10);

	background:$banner1;
	background-color: $banner1;
    background-image:linear-gradient(#434343, #282828);
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	color:white;
	 background-size:60px 60px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	@include span-columns(16, 16);
}
.inner-intro{
	padding-top:2.5em;
	@include pre(1);
	@include span-columns(7 ,16);
	@include MQ(L){

		@include span-columns(15, 16);
	}
	h1{
		font-size:2.1em;
		text-transform:uppercase;
	}

	p{
		color:$bannerp;
		font-size:1.2em;
		text-transform:uppercase;
	}
}
// .inner-logo{
// 	@include pull(2);
// 	@include span-columns(6 omega,16);
// 	// .logo{
// 	// 	@include span-columns(3,6);
// 	// 	&:nth-child(2n){ @include omega; }
	
// }
.inner-expertise{
	margin-top:3em;
	@include pad(1,1);
	@include span-columns(14, 16);
	@include MQ(S){ margin-top:1em; }
	h2{
		padding-bottom:.2em;
		border-bottom: 2px solid lighten($bannerp, 20%);
		display:inline-block;
		
	}
	p{

		display:inline-block;
		font-weight:bold;
		text-transform:uppercase;
		font-family:Raleway, OpenSans, arial;
		text-decoration:underline;
		padding-left:10px;

		-moz-animation:blink 1s infinite;
		border-right:1px transparent white;	
	}
	.fa-chevron-right{
		font-size:.8em;
	}
	@include layout(14){
		.skill-list{
			@include container;
			margin-top:2em;
			@include MQ(S){ margin-top:1em; }

		}
	}
}
@keyframes blink{
	50%{border-right:1px solid white;}
}
/* Banner  logos */

.skill-list{
	padding-top:1em;
}
.skills{
	position:relative;
	text-align:center;
	@include span-columns(1,4);
	color:$bannerp;
	&:nth-child(4n){ @include omega;}
	margin-bottom:1em;
	.dot{
		position:absolute;
		top:20px;
		right:20px;
	// 	@include MQ(L){
	// 		right:15px;
	// 	}
	}
}
.php{
	//float:left;
	height:55px;
	background:url(../img/php.png) no-repeat center;
}
.jquery{
	height:55px;
	background:url(../img/jquery.png) no-repeat center;
}
.laravel{
	height:55px;
	background:url(../img/laravel.png) no-repeat center;
}


/* logo */



/* ******************** */



.home{
	margin-top:3.5em;
	
}
.project-outer{
	margin-bottom:20px;
	position:relative;
	background:#DDDDDD;
	//background:#7F2B2B;
	//background:#51585F;
	background:darken($bannerp, 20%);
	border: 5px solid darken($bannerp,20%);
	@include border-radius(5px);
	@include box-sizing(border-box);
	@include single-box-shadow(#333, 0px, 0px, 5px, -2px);

	img{
		width:100%;
		margin-bottom:-5px;
		padding-top:5px;
	}

}

/* Related to project window */

.overlay{
	position:absolute;
	width:100%;
	height:100%;
	//background:#DDDDDD;
	background: $banner1;
    background-image:linear-gradient(#434343, #282828);
    background-image:linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
	color:white;
	background-size:30px 30px;
	display:none;
	top:0;
	left:0;
}
.project-info{
	position:absolute;
	padding:1em;
	display:none;

	h2{
		color:white;
		font-family:Raleway, Arial, sans-serif;
		// @include MQ(ML){
		// 	font-size:1em;
		// }
	}
	p{
		color:$text;
		// 	@include MQ(ML){
		// 	font-size:.8em;
		// }
	}
	h3{
		color:white;
		// 	@include MQ(ML){
		// 	font-size:.9em;
		// }
	}
	span{
		color:$text;
		font-size:.8em;
		// 	@include MQ(ML){
		// 	font-size:.9em;
		// }
	}
}

.project-info-sm{
	position:absolute;
	padding:1em;
	display:none;

	h2{
		color:white;
		font-family:Raleway, Arial, sans-serif;
		font-size:1em;
		// @include MQ(ML){
		// 	font-size:1em;
		// }
	}
	p{
		color:$text;
		font-size:.8em;
		// 	@include MQ(ML){
		// 	font-size:.8em;
		// }
	}
	h3{
		color:white;
		font-size:.9em;
		// 	@include MQ(ML){
		// 	font-size:.9em;
		// }
	}
	span{
		color:$text;
		font-size:.9em;
		// 	@include MQ(ML){
		// 	font-size:.9em;
		// }
	}
}


/* Related to addbar on project window */
.addBar{
	width:100%;
	display:block;
	background:black;
	@include clearfix;

}


.circle{
	//background:black;
	width:13px;
	height:13px;
	border-radius:24px;
	float:left;
	margin-top:5px;
	margin-right:6px;
	color:#E4E5E5;
	&:first-of-type{
		margin-left:3px;
	}
}

.red{
	background:#FF4136;
	box-shadow: 0px -3px 2px #9c241d inset;
}
.yellow{
	background:#FFFF00;
	box-shadow: 0px -3px 2px #c4aa04 inset;
}
.green{
	background:$banner1;
	box-shadow: 0px -3px 2px #2b9d38 inset;
}
.addressBar{
	display:block;
	background:white;
	margin-left:64px;
	border-radius:5px;
	text-decoration:none;
	font-family:Raleway;
	font-size:.9em;
	padding-left:8px;
	color:#BFE1FF;
	border: 1px solid lighten($text, 30%);
	// &:hover{
	// 	color:#BFE1FF;
	// }
}



/* ********************** */
.type{
	position:absolute;
	top:5px;
	left:5px;
	background:$blue;
	display:none;
	//border:2px solid $pink;
	font-size:.8em;
	color:white;
	padding: .1em .8em;
}