@import "susy";

$total-columns: 16;
$column-width: 50px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style:magic;
//$legacy-support-for-ie:true;

html{
	margin:0;
	background:#F6F6F6;
}

body{
	margin:0;
	font-family:OpenSans, Arial, sans-serif;
	font-size:1em;
	line-height:1.5;
	margin-bottom:4em;
}
ul, h1, h2, h3, p, li, header, nav{
	margin:0;
	padding:0;
}
.wrapper{

	@include container;
	//@include susy-grid-background;
	.homeWrapper{
		border-bottom:1px solid $color1;
		padding-bottom:60px;
		@include span-columns(16);
	}
}

.main, .home{
	@include squish(1, 1);
	@include span-columns(14);
}
// .divider{
// 	@include reset-columns;
// }
// .mainContact{
// 	@include squish(4, 4);
// 	@include span-columns(8);
// }
.projectContainer{
	@include span-columns(6, 12);
	&:nth-child(2n) { @include omega; }
	@include MQ(MS){
		@include span-columns(12, 12);
	}
}
.project-outer{
	@include span-columns(6, 6);
	&:nth-child(2n) { @include omega; }
	@include MQ(MS){
		@include span-columns(12, 12);
	}
}
footer{
	@include span-columns(16);
	border-top:1px solid darken($color1, 5%);
	border-bottom:1px solid darken($color1, 5%);
	color:$text;
	padding:2em 0;
	margin-top:3em;
	font-size:.8em;
	text-align:center;
}



header{
	padding:2em 0;
	text-align:center;
	background:#F6F6F6;
	//font-size:1.4em;
	color:$banner2;
	overflow:hidden;
	@include transition(all linear .2s);
	.header-hero{
	
	}
	.header-sidekick{
		color:$banner1;
	}

}


a{
	text-decoration:none;
}
nav{
	overflow:hidden;
	position:fixed;
	background:#F6F6F6;
	border-top:1px solid darken($color1, 5%);
	border-bottom:1px solid darken($color1, 5%);
	padding:1em 0;
	z-Index:99;
	width:1100px;
	//font-family:Raleway;
	// font-weight:bold;

	ul{
		text-align:center;
	}
	li{
		list-style:none;
		display:inline-block;
	}
	a{
		display:block;
		text-transform:uppercase;
		font-size:.8em;
		padding:.5em 1em;
		color:#A5A5A4;
		@include transition(all 0.2s ease-in);
		&:hover{
			color:$orange;
		}
	}
}

