.main{
	margin-top:222px;
	color:$text;
	
	h1{
		font-size:1.5em;
		margin:.625em 0;
		text-transform:uppercase;
		text-align:center;
	}
	p{
		padding:0 5em;
		letter-spacing:.05em;
	}
}
.mainContact{
	/*Contact page styles start here */
	margin-top:222px;
	color:$text;
	#contactForm{
		width:90%;
		margin:0 auto;
	}
	h2{
		font-size:1.4em;
		margin:.714em 0;
	}
	#message{
		display:block;
	}
	textarea{
		vertical-align:top;
		border:1px solid $color1;
		margin-bottom:.8em;
		width:100%;
	}
	.input-group{
		@include clearfix;
		//border:1px solid $color1;
		margin-bottom:.8em;
	}
	.input-group-addon{
		float:left;
		display:inline-block;
		width:10%;
		border:1px solid $color1;
		text-align:center;
	}

	input[type='text'], input[type='email']{
		float:left;
		display:inline-block;
		border:1px solid $color1;
		width:60%;
	
	}

	label{
		font-size:.875em;
		display:block;
		margin-bottom:.2em;

	}
	input[type='submit']{
		display:block;
	}
}
.appMessage{
	font-size:.9em;
	width:70%;
	margin:0 auto;
	background:$color1;
	padding:1em;
	border:1px solid $orange;
	margin-bottom:1em;
	&:after{
		border:1px solid white;
	}
	li{
		list-style-position:inside;
		color:$pinkgray;
	}
	p{
		color:$blue;
		font-weight:bold;
	}
}

