$color1: #EAE9E7; //brownish gray
$text:#7a7978;
$lightgreen: #A8E7CA; 
$pink: #A858A3;
$blue: #0263AE;
$orange: #FBAE2C;
$pinkgray: #FF7372;

$banner1:#39CCCC;
$banner2:#5D5D5D;
$banner3:#FF7372;
$bannerp:#269393;

/* for addbar on projects */

$projectBorder: #DDDDDD;
$red: #FF4136;
$red-shadow: #9c241d;

$yellow: #FFFF00;
$yellow-shadow: #c4aa04;

$green: #2ECC40;
$green-shadow: #2b9d38;

//Breakpoint variables
$S: 435px;
$M: 636px;
$MS:750px;
$ML: 850px;
$L: 901px;

//mq mixin

@mixin MQ($canvas){
	@if $canvas == S{
		@media only screen and (max-width:$S) { @content; }
	}
	@if $canvas == M{
		@media only screen and (max-width:$M) { @content; }
	}
	@if$canvas == MS{
		@media only screen and (max-width: $MS) { @content; }
	}
	@if $canvas == ML {
		@media only screen and (max-width:$ML - 1) { @content; }
	}
	@if $canvas == L {
		@media only screen and (max-width:$L - 1){ @content; }
	}
}